<a href="https://colab.research.google.com/github/JoshScherer/Emergency-Response/blob/alex-dev/ER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Notebook to query Traffic, Weather, and Incidents datasets**

Instructions to run this notebook:

1.   Run the queries in Athena that create external tables for each of the datasets (they begin with CREATE EXTERNAL TABLE IF NOT EXISTS 'database'.'table')
2.   Run the queries in Athena that repair the Traffic and Weather datasets (MSCK REPAIR TABLE table)
3.   Now the queries in this notebook can be run. Note: the data parquet files are stored in an S3 bucket cs4266-finalproject and the results are dumped to another S3 bucket cs4266-finalproject-results

In [2]:
#install boto
!pip install boto3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.26.122-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 6.5 MB/s eta 0:00:00
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 kB 8.6 MB/s eta 0:00:00
Collecting botocore<1.30.0,>=1.29.122
  Downloading botocore-1.29.122-py3-none-any.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 46.8 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.30.0,>=1.29.122->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.30.0,>=1.29.122->boto3) (1.26.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.122->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.122 botocore-1.29.122 jmespath-1.0.1 s3transfer-0.6.0

In [1]:
# Please fill your aws credential information here
credentials = {
    'region_name': 'us-east-1',
    'aws_access_key_id': 'ASIAYELUFHJMYLVKGMMS',
    'aws_secret_access_key': '0NaJ5BJxBmHl95cBbbJkKbGkOXwUV9R+K2FZ01P5',
    'aws_session_token': 'FwoGZXIvYXdzEFoaDHfs9yFvJBY0SxVM6SLMAbzJbb8GOsn9HUeDil9EkNrAgOBQt0O/6oAE8sekQ39awXDM54gVlh6ar3LEqu65OfEw+KJdYbI98j9/OmAb+hralelmC8jy9GkEzeYJeEkg7vJcxNLRczdIRWcztd+FlJ2oHIp9edYCdR6LPV45Q61S7XwLMEe6Fuqgo0jccp1PwEoQC1H8ieM3pYNoJLEs9ocZd7BeH3PbVIQqHi1qVBMO2pETwNUZKQVhLlaHAqfaB/YlQJNmJqqT17e/dZONj9bdocni17TMFpUqTCieoKyiBjItc86rjt2SIejOPe10p2KGFjrT7L4/9iHQqKDfNAlAkSvAjeRAFtfngXhOFYup'
}

In [3]:
import boto3, json

session = boto3.session.Session(**credentials)
athena = session.client('athena', region_name='us-east-1')
s3 = session.client('s3')

# **Example Query of Incidents Dataset**

In [72]:
result = athena.start_query_execution(
    QueryString = 'SELECT * FROM "incidents" WHERE latitude is not NULL LIMIT 5;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [73]:
# Replace the query execution id with the query id obtained while starting the query
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)

{'QueryExecution': {'QueryExecutionId': '6ad4e6e3-ad14-4be8-b549-88c08ff10350',
  'Query': 'SELECT * FROM "incidents" WHERE latitude is not NULL LIMIT 5',
  'StatementType': 'DML',
  'ResultConfiguration': {'OutputLocation': 's3://cs4266-finalproject-results/6ad4e6e3-ad14-4be8-b549-88c08ff10350.csv'},
  'ResultReuseConfiguration': {'ResultReuseByAgeConfiguration': {'Enabled': False}},
  'QueryExecutionContext': {'Database': 'incidents-db'},
  'Status': {'State': 'SUCCEEDED',
   'SubmissionDateTime': datetime.datetime(2023, 4, 27, 19, 21, 10, 95000, tzinfo=tzlocal()),
   'CompletionDateTime': datetime.datetime(2023, 4, 27, 19, 21, 11, 300000, tzinfo=tzlocal())},
  'Statistics': {'EngineExecutionTimeInMillis': 996,
   'DataScannedInBytes': 2129558,
   'TotalExecutionTimeInMillis': 1205,
   'QueryQueueTimeInMillis': 192,
   'QueryPlanningTimeInMillis': 118,
   'ServiceProcessingTimeInMillis': 17,
   'ResultReuseInformation': {'ReusedPreviousResult': False}},
  'WorkGroup': 'primary',
  'EngineVersion': {'SelectedEngineVersion': 'AUTO',
   'EffectiveEngineVersion': 'Athena engine version 2'},
  'SubstatementType': 'SELECT'},
 'ResponseMetadata': {'RequestId': 'c781861b-12c5-4da3-8561-f64fa576d9df',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 27 Apr 2023 19:21:13 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '1701',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'c781861b-12c5-4da3-8561-f64fa576d9df'},
  'RetryAttempts': 0}}

In [74]:
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"id_original","latitude","longitude","emdcardnumber","time_utc","time_local","response_time_sec","day_of_week","weekend_or_not","geometry","incident_id","dist_to_seg","xdsegid"
"ObjectId(59d3a81908f47311c891f8e2)","36.03722849","-86.78324314","29B5","1483257569507","1483235969507","268.0","6","1","POINT (-86.78324314 36.03722849)","10","13.550370382347305","1.524393684E9"
"ObjectId(59d3a81908f47311c891f8e6)","36.03741402","-86.78657189","29D2P","1483259455000","1483237855000","512.0","6","1","POINT (-86.78657189 36.03741402)","11","3.6639521286614225","1.524356434E9"
"ObjectId(59d3a81a08f47311c891f8ef)","36.21766267","-86.80869908","29D1H","1483263310000","1483241710000","271.0","6","1","POINT (-86.80869908 36.21766267)","12",,
"ObjectId(59d3a81a08f47311c891f8f9)","36.05779026","-86.73972836","29D8V","1483266571867","1483244971867","366.0","6","1","POINT (-86.73972836 36.05779026)","13",,
"ObjectId(59d3a81a08f47311c891f904)","36.03922079","-86.60278517","29A2V","1483268953000","1483247353000","447.0","6","1","POINT (-86.60278517 36.03922079)","14","3.171781614079594","4.49620819E8"

In [58]:
# another example query
# enter in map as (latitude, longitude)
result = athena.start_query_execution(
    QueryString = 'SELECT AVG(latitude), AVG(longitude) FROM "incidents";',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [59]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"_col0","_col1"
"36.151854061679494","-86.74292086389275"

# **Example Query of Weather Dataset**

In [89]:
result = athena.start_query_execution(
    QueryString = 'SELECT count(*) FROM "weather";',
    QueryExecutionContext = {
        'Database': 'weather-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [90]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"_col0"
"20792532"

In [34]:
# check partitions
result = athena.start_query_execution(
    QueryString = 'SHOW PARTITIONS weather;',
    QueryExecutionContext = {
        'Database': 'weather-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [35]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.txt', 'results.txt')
!cat results.txt

month=2/year=2012
month=6/year=2018
month=4/year=2016
month=8/year=2016
month=2/year=2016
month=1/year=2020
month=8/year=2011
month=1/year=2012
month=3/year=2015
month=9/year=2011
month=9/year=2016
month=11/year=2016
month=11/year=2017
month=4/year=2011
month=6/year=2012
month=9/year=2015
month=1/year=2018
month=7/year=2011
month=2/year=2010
month=5/year=2012
month=5/year=2015
month=11/year=2011
month=7/year=2018
month=10/year=2017
month=6/year=2010
month=1/year=2022
month=4/year=2019
month=3/year=2016
month=1/year=2019
month=10/year=2016
month=5/year=2019
month=7/year=2021
month=9/year=2012
month=1/year=2016
month=11/year=2014
month=8/year=2018
month=3/year=2017
month=6/year=2015
month=8/year=2012
month=10/year=2018
month=10/year=2019
month=12/year=2021
month=7/year=2010
month=5/year=2020
month=8/year=2017
month=8/year=2020
month=2/year=2019
month=6/year=2011
month=4/year=2017
month=5/year=2017
month=6/year=2019
month=7/year=2012
month=2/year=2020
month=10/year=2010
month=2/year=2011
month=11/year=2010
month=10/year=2012
month=11/year=2013
month=12/year=2019
month=10/year=2015
month=12/year=2016
month=12/year=2011
month=8/year=2013
month=4/year=2010
month=5/year=2013
month=6/year=2016
month=10/year=2020
month=5/year=2010
month=1/year=2014
month=2/year=2013
month=3/year=2010
month=8/year=2014
month=9/year=2017
month=12/year=2010
month=11/year=2012
month=3/year=2013
month=1/year=2015
month=7/year=2019
month=10/year=2021
month=2/year=2014
month=9/year=2020
month=1/year=2011
month=9/year=2013
month=11/year=2018
month=9/year=2014
month=9/year=2021
month=5/year=2021
month=4/year=2013
month=9/year=2019
month=3/year=2012
month=10/year=2013
month=11/year=2015
month=9/year=2010
month=12/year=2017
month=11/year=2020
month=4/year=2021
month=7/year=2016
month=1/year=2010
month=4/year=2018
month=10/year=2011
month=2/year=2017
month=4/year=2014
month=7/year=2015
month=4/year=2012
month=6/year=2020
month=7/year=2017
month=12/year=2018
month=4/year=2020
month=12/year=2014
month=2/year=2015
month=3/year=2020
month=6/year=2013
month=5/year=2018
month=6/year=2021
month=7/year=2020
month=6/year=2014
month=11/year=2021
month=3/year=2014
month=8/year=2021
month=1/year=2021
month=6/year=2017
month=8/year=2015
month=11/year=2019
month=12/year=2013
month=2/year=2022
month=3/year=2019
month=1/year=2013
month=5/year=2016
month=9/year=2018
month=2/year=2018
month=3/year=2021
month=12/year=2012
month=5/year=2011
month=7/year=2013
month=10/year=2014
month=3/year=2018
month=5/year=2014
month=2/year=2021
month=3/year=2011
month=8/year=2010
month=4/year=2015
month=1/year=2017
month=12/year=2020
month=7/year=2014
month=8/year=2019
month=12/year=2015

# **Example Query of Traffic Dataset**

In [87]:
result = athena.start_query_execution(
    QueryString = 'SELECT count(*) FROM "traffic";',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [88]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"_col0"
"2949783075"

In [92]:
# check partitions
result = athena.start_query_execution(
    QueryString = 'SHOW PARTITIONS traffic;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [93]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.txt', 'results.txt')
!cat results.txt

county=davidson/year=2019/month=7
county=davidson/year=2019/month=8
county=davidson/year=2018/month=10
county=davidson/year=2018/month=8
county=davidson/year=2018/month=2
county=davidson/year=2020/month=7
county=davidson/year=2017/month=9
county=davidson/year=2019/month=9
county=davidson/year=2017/month=7
county=davidson/year=2019/month=5
county=davidson/year=2017/month=12
county=davidson/year=2019/month=6
county=davidson/year=2019/month=3
county=davidson/year=2021/month=7
county=davidson/year=2017/month=6
county=davidson/year=2019/month=1
county=davidson/year=2019/month=11
county=davidson/year=2019/month=2
county=davidson/year=2020/month=3
county=davidson/year=2021/month=3
county=davidson/year=2021/month=5
county=davidson/year=2021/month=8
county=davidson/year=2017/month=11
county=davidson/year=2017/month=4
county=davidson/year=2019/month=10
county=davidson/year=2020/month=11
county=davidson/year=2021/month=12
county=davidson/year=2017/month=10
county=davidson/year=2018/month=7
county=davidson/year=2020/month=4
county=davidson/year=2021/month=6
county=davidson/year=2021/month=10
county=davidson/year=2020/month=10
county=davidson/year=2018/month=3
county=davidson/year=2022/month=1
county=davidson/year=2018/month=12
county=davidson/year=2017/month=8
county=davidson/year=2020/month=12
county=davidson/year=2021/month=11
county=davidson/year=2021/month=4
county=davidson/year=2018/month=11
county=davidson/year=2020/month=8
county=davidson/year=2021/month=1
county=davidson/year=2019/month=12
county=davidson/year=2019/month=4
county=davidson/year=2020/month=1
county=davidson/year=2018/month=6
county=davidson/year=2020/month=5
county=davidson/year=2021/month=2
county=davidson/year=2018/month=9
county=davidson/year=2017/month=5
county=davidson/year=2022/month=2
county=davidson/year=2020/month=2
county=davidson/year=2020/month=6
county=davidson/year=2018/month=1
county=davidson/year=2020/month=9
county=davidson/year=2021/month=9
county=davidson/year=2018/month=4
county=davidson/year=2018/month=5

# **Below are queries relevant to the project:**

Incidents Dataset

In [21]:
# helper function
def show_result(id):
  athena.get_query_execution(
      QueryExecutionId=id
  )
  s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
  !cat results.csv

In [40]:
# Number of accidents per day, monday = 0
# Number of incidents from greatest to least: Friday, Saturday, Wednesday, Thursday, Tuesday, Monday, Sunday
result = athena.start_query_execution(
    QueryString = 'SELECT day_of_week, count(incident_id) as num FROM "incidents" GROUP BY day_of_week ORDER BY num desc;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [41]:
show_result(query_execution_id)

"day_of_week","num"
"4","4957"
"5","4487"
"2","4210"
"3","4182"
"1","4088"
"0","4018"
"6","3823"
,"0"

In [42]:
# which road segments experience the most incidents (list top 10)
result = athena.start_query_execution(
    QueryString = 'SELECT xdsegid, geometry, COUNT(incident_id) as num_incident FROM "incidents" GROUP BY xdsegid, geometry ORDER BY num_incident DESC LIMIT 10;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [43]:
show_result(query_execution_id)

"xdsegid","geometry","num_incident"
"4.41552606E8","POINT (-86.628485 36.06480439)","62"
"4.49631048E8","POINT (-86.71326689 36.04537569)","50"
"4.29334748E8","POINT (-86.72632246 36.07961512)","48"
"4.2933493E8","POINT (-86.71193072 36.26307757)","41"
"1.524632643E9","POINT (-86.77648642 36.20651488)","41"
"1.52435526E9","POINT (-86.77791118 36.20663026)","40"
"4.49614887E8","POINT (-86.61873388 36.05432377)","37"
"4.41552606E8","POINT (-86.62848013 36.06479757)","37"
"4.49619649E8","POINT (-86.63618813 36.07188128)","37"
"1.524584469E9","POINT (-86.69995393 36.08605237)","37"

In [ ]:
# analyze these results in geopandas

In [55]:
# for the road segments where incidents are most concentrated, what time distribution do accidents occur?
# get avg and std of times
result = athena.start_query_execution(
    QueryString = 'SELECT xdsegid, DATE_FORMAT(FROM_UNIXTIME(time_utc), '%H') AS hour_of_day, COUNT(incident_id) AS num_incidents FROM "incidents" GROUP BY xdsegid, hour_of_day ORDER BY xdsegid, num_incidents DESC;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

InvalidRequestException: ignored

In [50]:
show_result(query_execution_id)

"xdsegid","_col1","_col2"
"1.524584469E9","1.5593769369134905E12","3.789656540818079E10"
"1.52435526E9","1.5681831767040618E12","3.494266985691318E10"
"4.2933493E8","1.5517301552915715E12","4.312878308039991E10"
"4.49619649E8","1.5738706424296216E12","3.631156291342639E10"
"4.49631048E8","1.5693693434819153E12","4.098304275365852E10"
"4.41552606E8","1.5633696159407961E12","3.4879014925332306E10"
"4.49614887E8","1.5816934942533022E12","2.0761928018660084E10"
"4.29334748E8","1.5628713277318518E12","2.9343703317474365E10"
"1.524632643E9","1.5670713900414E12","3.8285914911683784E10"

In [57]:
# find the date range of the incidents dataset
result = athena.start_query_execution(
    QueryString = 'SELECT MAX(time_utc), MIN(time_utc) FROM "incidents"',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [58]:
show_result(query_execution_id)

"_col0","_col1"
"1614692757253","1483257569507"

In [61]:
from datetime import datetime
print('Earliest date: ', datetime.utcfromtimestamp(1483257569507/1000).strftime('%Y-%m-%d %H:%M:%S'))
print('Latest date: ', datetime.utcfromtimestamp(1614692757253/1000).strftime('%Y-%m-%d %H:%M:%S'))

Earliest date:  2017-01-01 07:59:29
Latest date:  2021-03-02 13:45:57

In [66]:
# find the number of incidents for each hour of the day
result = athena.start_query_execution(
    QueryString = 'SELECT HOUR(FROM_UNIXTIME(time_utc)), COUNT(incident_id) FROM "incidents" GROUP BY HOUR(FROM_UNIXTIME(time_utc)) ORDER BY COUNT(incident_id) DESC;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [67]:
show_result(query_execution_id)

"_col0","_col1"
"2","1316"
"9","1296"
"22","1290"
"4","1270"
"11","1266"
"14","1262"
"12","1261"
"13","1256"
"15","1254"
"3","1249"
"21","1238"
"0","1236"
"18","1235"
"16","1233"
"20","1225"
"23","1225"
"10","1218"
"1","1216"
"5","1216"
"6","1213"
"17","1211"
"19","1210"
"8","1206"
"7","1163"
,"0"

Traffic Dataset