<a href="https://colab.research.google.com/github/JoshScherer/Emergency-Response/blob/alex-dev/ER_jobs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Notebook to query Traffic, Weather, and Incidents datasets**

Instructions to run this notebook:

1.   Run the queries in Athena that create external tables for each of the datasets (they begin with CREATE EXTERNAL TABLE IF NOT EXISTS 'database'.'table')
2.   Run the queries in Athena that repair the Traffic and Weather datasets (MSCK REPAIR TABLE table)
3.   Now the queries in this notebook can be run. Note: the data parquet files are stored in an S3 bucket cs4266-finalproject and the results are dumped to another S3 bucket cs4266-finalproject-results

In [2]:
#install boto
!pip install boto3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.26.123-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 3.2 MB/s eta 0:00:00
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 kB 7.1 MB/s eta 0:00:00
Collecting botocore<1.30.0,>=1.29.123
  Downloading botocore-1.29.123-py3-none-any.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 71.3 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.30.0,>=1.29.123->boto3) (1.26.15)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.30.0,>=1.29.123->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.123->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.123 botocore-1.29.123 jmespath-1.0.1 s3transfer-0.6.0

In [3]:
# Please fill your aws credential information here
credentials = {
    'region_name': 'us-east-1',
    'aws_access_key_id': 'ASIAYELUFHJMQ4QIRH6B',
    'aws_secret_access_key': '9eGQ+fgVwmS51d45EE7SxtrCyUq7BM9t2mQwm8cz',
    'aws_session_token': 'FwoGZXIvYXdzEG4aDL6wW3MaSQha6AOqiyLMAfIfyFK5P9D6Cm51wgCMFCL9+6KIzExzfPfKjA8KU7G1FYVhQlg+es1b+PxJ7DVCRJ+sy0WLOb74NPDdJDd1j7c0oNmrzcnxjiJPxncvlDr+KOBnEdjaoK0z+nGR3E3I2yKODrNBWqGilctLfPnBNJtYyauuqhYYfLEr7whh9PH4E3StJPoHbfROSxW8kH9Mdl/gHkOpF+YLpYrRjjT/KQua6HL66fV7z6ZIBpMyAErxCPQhu88eZddU0dWrorkXqSpkEluq2FdweTHmPCj41LCiBjItFcc5PbB3Kf8knu5UdmZBon2jNHPTlyd6A/3zZ7XJGggLD0LvhfdZcQx5EZRU'
}

In [4]:
import boto3, json

session = boto3.session.Session(**credentials)
athena = session.client('athena', region_name='us-east-1')
s3 = session.client('s3')

# **Example Query of Incidents Dataset**

In [72]:
result = athena.start_query_execution(
    QueryString = 'SELECT * FROM "incidents" WHERE latitude is not NULL LIMIT 5;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [73]:
# Replace the query execution id with the query id obtained while starting the query
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)

{'QueryExecution': {'QueryExecutionId': '6ad4e6e3-ad14-4be8-b549-88c08ff10350',
  'Query': 'SELECT * FROM "incidents" WHERE latitude is not NULL LIMIT 5',
  'StatementType': 'DML',
  'ResultConfiguration': {'OutputLocation': 's3://cs4266-finalproject-results/6ad4e6e3-ad14-4be8-b549-88c08ff10350.csv'},
  'ResultReuseConfiguration': {'ResultReuseByAgeConfiguration': {'Enabled': False}},
  'QueryExecutionContext': {'Database': 'incidents-db'},
  'Status': {'State': 'SUCCEEDED',
   'SubmissionDateTime': datetime.datetime(2023, 4, 27, 19, 21, 10, 95000, tzinfo=tzlocal()),
   'CompletionDateTime': datetime.datetime(2023, 4, 27, 19, 21, 11, 300000, tzinfo=tzlocal())},
  'Statistics': {'EngineExecutionTimeInMillis': 996,
   'DataScannedInBytes': 2129558,
   'TotalExecutionTimeInMillis': 1205,
   'QueryQueueTimeInMillis': 192,
   'QueryPlanningTimeInMillis': 118,
   'ServiceProcessingTimeInMillis': 17,
   'ResultReuseInformation': {'ReusedPreviousResult': False}},
  'WorkGroup': 'primary',
  'EngineVersion': {'SelectedEngineVersion': 'AUTO',
   'EffectiveEngineVersion': 'Athena engine version 2'},
  'SubstatementType': 'SELECT'},
 'ResponseMetadata': {'RequestId': 'c781861b-12c5-4da3-8561-f64fa576d9df',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 27 Apr 2023 19:21:13 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '1701',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'c781861b-12c5-4da3-8561-f64fa576d9df'},
  'RetryAttempts': 0}}

In [74]:
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"id_original","latitude","longitude","emdcardnumber","time_utc","time_local","response_time_sec","day_of_week","weekend_or_not","geometry","incident_id","dist_to_seg","xdsegid"
"ObjectId(59d3a81908f47311c891f8e2)","36.03722849","-86.78324314","29B5","1483257569507","1483235969507","268.0","6","1","POINT (-86.78324314 36.03722849)","10","13.550370382347305","1.524393684E9"
"ObjectId(59d3a81908f47311c891f8e6)","36.03741402","-86.78657189","29D2P","1483259455000","1483237855000","512.0","6","1","POINT (-86.78657189 36.03741402)","11","3.6639521286614225","1.524356434E9"
"ObjectId(59d3a81a08f47311c891f8ef)","36.21766267","-86.80869908","29D1H","1483263310000","1483241710000","271.0","6","1","POINT (-86.80869908 36.21766267)","12",,
"ObjectId(59d3a81a08f47311c891f8f9)","36.05779026","-86.73972836","29D8V","1483266571867","1483244971867","366.0","6","1","POINT (-86.73972836 36.05779026)","13",,
"ObjectId(59d3a81a08f47311c891f904)","36.03922079","-86.60278517","29A2V","1483268953000","1483247353000","447.0","6","1","POINT (-86.60278517 36.03922079)","14","3.171781614079594","4.49620819E8"

In [58]:
# another example query
# enter in map as (latitude, longitude)
result = athena.start_query_execution(
    QueryString = 'SELECT AVG(latitude), AVG(longitude) FROM "incidents";',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [59]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"_col0","_col1"
"36.151854061679494","-86.74292086389275"

# **Example Query of Weather Dataset**

In [89]:
result = athena.start_query_execution(
    QueryString = 'SELECT count(*) FROM "weather";',
    QueryExecutionContext = {
        'Database': 'weather-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [90]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"_col0"
"20792532"

In [34]:
# check partitions
result = athena.start_query_execution(
    QueryString = 'SHOW PARTITIONS weather;',
    QueryExecutionContext = {
        'Database': 'weather-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [35]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.txt', 'results.txt')
!cat results.txt

month=2/year=2012
month=6/year=2018
month=4/year=2016
month=8/year=2016
month=2/year=2016
month=1/year=2020
month=8/year=2011
month=1/year=2012
month=3/year=2015
month=9/year=2011
month=9/year=2016
month=11/year=2016
month=11/year=2017
month=4/year=2011
month=6/year=2012
month=9/year=2015
month=1/year=2018
month=7/year=2011
month=2/year=2010
month=5/year=2012
month=5/year=2015
month=11/year=2011
month=7/year=2018
month=10/year=2017
month=6/year=2010
month=1/year=2022
month=4/year=2019
month=3/year=2016
month=1/year=2019
month=10/year=2016
month=5/year=2019
month=7/year=2021
month=9/year=2012
month=1/year=2016
month=11/year=2014
month=8/year=2018
month=3/year=2017
month=6/year=2015
month=8/year=2012
month=10/year=2018
month=10/year=2019
month=12/year=2021
month=7/year=2010
month=5/year=2020
month=8/year=2017
month=8/year=2020
month=2/year=2019
month=6/year=2011
month=4/year=2017
month=5/year=2017
month=6/year=2019
month=7/year=2012
month=2/year=2020
month=10/year=2010
month=2/year=2011
month=11/year=2010
month=10/year=2012
month=11/year=2013
month=12/year=2019
month=10/year=2015
month=12/year=2016
month=12/year=2011
month=8/year=2013
month=4/year=2010
month=5/year=2013
month=6/year=2016
month=10/year=2020
month=5/year=2010
month=1/year=2014
month=2/year=2013
month=3/year=2010
month=8/year=2014
month=9/year=2017
month=12/year=2010
month=11/year=2012
month=3/year=2013
month=1/year=2015
month=7/year=2019
month=10/year=2021
month=2/year=2014
month=9/year=2020
month=1/year=2011
month=9/year=2013
month=11/year=2018
month=9/year=2014
month=9/year=2021
month=5/year=2021
month=4/year=2013
month=9/year=2019
month=3/year=2012
month=10/year=2013
month=11/year=2015
month=9/year=2010
month=12/year=2017
month=11/year=2020
month=4/year=2021
month=7/year=2016
month=1/year=2010
month=4/year=2018
month=10/year=2011
month=2/year=2017
month=4/year=2014
month=7/year=2015
month=4/year=2012
month=6/year=2020
month=7/year=2017
month=12/year=2018
month=4/year=2020
month=12/year=2014
month=2/year=2015
month=3/year=2020
month=6/year=2013
month=5/year=2018
month=6/year=2021
month=7/year=2020
month=6/year=2014
month=11/year=2021
month=3/year=2014
month=8/year=2021
month=1/year=2021
month=6/year=2017
month=8/year=2015
month=11/year=2019
month=12/year=2013
month=2/year=2022
month=3/year=2019
month=1/year=2013
month=5/year=2016
month=9/year=2018
month=2/year=2018
month=3/year=2021
month=12/year=2012
month=5/year=2011
month=7/year=2013
month=10/year=2014
month=3/year=2018
month=5/year=2014
month=2/year=2021
month=3/year=2011
month=8/year=2010
month=4/year=2015
month=1/year=2017
month=12/year=2020
month=7/year=2014
month=8/year=2019
month=12/year=2015

# **Example Query of Traffic Dataset**

In [87]:
result = athena.start_query_execution(
    QueryString = 'SELECT count(*) FROM "traffic";',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [88]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"_col0"
"2949783075"

In [92]:
# check partitions
result = athena.start_query_execution(
    QueryString = 'SHOW PARTITIONS traffic;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [93]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.txt', 'results.txt')
!cat results.txt

county=davidson/year=2019/month=7
county=davidson/year=2019/month=8
county=davidson/year=2018/month=10
county=davidson/year=2018/month=8
county=davidson/year=2018/month=2
county=davidson/year=2020/month=7
county=davidson/year=2017/month=9
county=davidson/year=2019/month=9
county=davidson/year=2017/month=7
county=davidson/year=2019/month=5
county=davidson/year=2017/month=12
county=davidson/year=2019/month=6
county=davidson/year=2019/month=3
county=davidson/year=2021/month=7
county=davidson/year=2017/month=6
county=davidson/year=2019/month=1
county=davidson/year=2019/month=11
county=davidson/year=2019/month=2
county=davidson/year=2020/month=3
county=davidson/year=2021/month=3
county=davidson/year=2021/month=5
county=davidson/year=2021/month=8
county=davidson/year=2017/month=11
county=davidson/year=2017/month=4
county=davidson/year=2019/month=10
county=davidson/year=2020/month=11
county=davidson/year=2021/month=12
county=davidson/year=2017/month=10
county=davidson/year=2018/month=7
county=davidson/year=2020/month=4
county=davidson/year=2021/month=6
county=davidson/year=2021/month=10
county=davidson/year=2020/month=10
county=davidson/year=2018/month=3
county=davidson/year=2022/month=1
county=davidson/year=2018/month=12
county=davidson/year=2017/month=8
county=davidson/year=2020/month=12
county=davidson/year=2021/month=11
county=davidson/year=2021/month=4
county=davidson/year=2018/month=11
county=davidson/year=2020/month=8
county=davidson/year=2021/month=1
county=davidson/year=2019/month=12
county=davidson/year=2019/month=4
county=davidson/year=2020/month=1
county=davidson/year=2018/month=6
county=davidson/year=2020/month=5
county=davidson/year=2021/month=2
county=davidson/year=2018/month=9
county=davidson/year=2017/month=5
county=davidson/year=2022/month=2
county=davidson/year=2020/month=2
county=davidson/year=2020/month=6
county=davidson/year=2018/month=1
county=davidson/year=2020/month=9
county=davidson/year=2021/month=9
county=davidson/year=2018/month=4
county=davidson/year=2018/month=5

# **Below are queries relevant to the project:**

Incidents Dataset

In [8]:
# helper function to output results
def show_result(id):
  athena.get_query_execution(
      QueryExecutionId=id
  )
  s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
  !cat results.csv

In [40]:
# Number of accidents per day, monday = 0
# Number of incidents from greatest to least: Friday, Saturday, Wednesday, Thursday, Tuesday, Monday, Sunday
result = athena.start_query_execution(
    QueryString = 'SELECT day_of_week, count(incident_id) as num FROM "incidents" GROUP BY day_of_week ORDER BY num desc;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [41]:
show_result(query_execution_id)

"day_of_week","num"
"4","4957"
"5","4487"
"2","4210"
"3","4182"
"1","4088"
"0","4018"
"6","3823"
,"0"

In [44]:
# which road segments experience the most incidents (list top 30)
# there are repeated xdsegids since the geometries are different
result = athena.start_query_execution(
    QueryString = 'SELECT xdsegid, geometry, COUNT(incident_id) as num_incident FROM "incidents" GROUP BY xdsegid, geometry ORDER BY num_incident DESC LIMIT 30;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [45]:
show_result(query_execution_id)

"xdsegid","geometry","num_incident"
"4.41552606E8","POINT (-86.628485 36.06480439)","62"
"4.49631048E8","POINT (-86.71326689 36.04537569)","50"
"4.29334748E8","POINT (-86.72632246 36.07961512)","48"
"4.2933493E8","POINT (-86.71193072 36.26307757)","41"
"1.524632643E9","POINT (-86.77648642 36.20651488)","41"
"1.52435526E9","POINT (-86.77791118 36.20663026)","40"
"4.49614887E8","POINT (-86.61873388 36.05432377)","37"
"4.41552606E8","POINT (-86.62848013 36.06479757)","37"
"4.49619649E8","POINT (-86.63618813 36.07188128)","37"
"1.524584469E9","POINT (-86.69995393 36.08605237)","37"
"1.524593073E9","POINT (-86.65910500000001 36.04522782)","36"
"4.49626483E8","POINT (-86.92095036 36.07448641)","35"
"1.524282557E9","POINT (-86.70017638 36.08597875)","35"
"1.524393558E9","POINT (-86.78281595 36.03889472)","34"
"4.29334748E8","POINT (-86.72631756 36.0796083)","33"
"4.29334935E8","POINT (-86.6730666 36.10621793)","33"
"4.49616677E8","POINT (-86.76861744 36.20589953)","32"
"4.29334972E8","POINT (-86.62027409 36.19844817)","32"
"1.524397741E9","POINT (-86.68941723 36.06920458)","32"
"4.41420519E8","POINT (-86.76170874 36.08211022)","31"
"4.29334998E8","POINT (-86.60215993 36.17359918)","30"
"4.49614803E8","POINT (-86.66153259999999 36.04478322)","29"
"1.524450692E9","POINT (-86.61177093 36.16627491)","29"
"1.524376342E9","POINT (-86.75836277 36.08111377)","29"
"4.49621106E8","POINT (-86.6918582 36.30276368)","27"
"1.52450237E9","POINT (-86.8312218 36.19366606)","27"
"1.524471443E9","POINT (-86.67435029 36.04573894)","26"
"4.49614858E8","POINT (-86.64868303 36.08692425)","26"
"4.49631059E8","POINT (-86.71622764 36.05907654)","26"
"1.52461456E9","POINT (-86.75129186 36.15150392)","25"

In [ ]:
# analyze these results in geopandas

In [89]:
# find the date range of the incidents dataset
result = athena.start_query_execution(
    QueryString = 'SELECT MAX(time_local), MIN(time_local) FROM "incidents"',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [90]:
show_result(query_execution_id)

"_col0","_col1"
"1614671157253","1483235969507"

In [91]:
from datetime import datetime
print('Earliest date: ', datetime.utcfromtimestamp(1483235969507/1000).strftime('%Y-%m-%d %H:%M:%S'))
print('Latest date: ', datetime.utcfromtimestamp(1614671157253/1000).strftime('%Y-%m-%d %H:%M:%S'))

Earliest date:  2017-01-01 01:59:29
Latest date:  2021-03-02 07:45:57

In [92]:
# find the number of incidents for each hour of the day
result = athena.start_query_execution(
    QueryString = 'SELECT HOUR(FROM_UNIXTIME(time_local)) as hour, COUNT(incident_id) as count FROM "incidents" GROUP BY HOUR(FROM_UNIXTIME(time_local)) ORDER BY count DESC;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [93]:
show_result(query_execution_id)

"hour","count"
"2","1314"
"1","1292"
"20","1280"
"5","1266"
"18","1263"
"6","1262"
"14","1260"
"3","1259"
"19","1250"
"4","1243"
"22","1243"
"0","1241"
"16","1237"
"12","1233"
"7","1225"
"13","1225"
"9","1220"
"21","1219"
"23","1218"
"11","1216"
"17","1211"
"15","1199"
"8","1197"
"10","1192"
,"0"

In [94]:
# find the average response time (in seconds) for each hour of the day
result = athena.start_query_execution(
    QueryString = 'SELECT HOUR(FROM_UNIXTIME(time_local)) as hour, AVG(response_time_sec) as average_response FROM "incidents" GROUP BY HOUR(FROM_UNIXTIME(time_local)) ORDER BY average_response DESC;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [95]:
show_result(query_execution_id)

"hour","average_response"
"21","396.25"
"8","395.7502198768689"
"14","394.58677685950414"
"16","393.81181434599154"
"23","389.8083261058109"
"5","389.6175496688742"
"0","389.10252100840336"
"13","388.801024765158"
"4","388.57312925170066"
"17","387.7783505154639"
"20","387.1951219512195"
"18","387.05751848808546"
"11","386.6704055220017"
"15","382.1746031746032"
"1","381.88402270884023"
"6","381.3668590272053"
"22","380.98277347114555"
"9","379.43324720068904"
"19","379.1802179379715"
"2","378.534126984127"
"3","378.12156536219817"
"12","378.1027164685908"
"10","377.81397379912664"
"7","375.61499148211243"
,

In [87]:
# find the average response time (in seconds) for day of the week
result = athena.start_query_execution(
    QueryString = 'SELECT day_of_week, AVG(response_time_sec) as average_response FROM "incidents" GROUP BY day_of_week ORDER BY average_response DESC;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [88]:
show_result(query_execution_id)

"day_of_week","average_response"
"4","396.0008440599282"
"2","392.20577258024383"
"1","382.9584402257568"
"3","382.8235"
"6","382.30215231788077"
"5","379.8398419339842"
"0","378.9257619171659"
,

In [49]:
# find the longest average response time (in seconds) by xdsegid (top 20)
result = athena.start_query_execution(
    QueryString = 'SELECT xdsegid, AVG(response_time_sec) as average_response FROM "incidents" GROUP BY xdsegid ORDER BY average_response DESC LIMIT 20;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [50]:
show_result(query_execution_id)

"xdsegid","average_response"
"4.4962265E8","3527.0"
"4.49620806E8","3396.5"
"1.524468536E9","2016.0"
"4.49617457E8","1935.5"
"1.524451949E9","1716.0"
"4.49623845E8","1630.0"
"4.29355795E8","1609.0"
"4.41552616E8","1603.0"
"1.524448048E9","1589.0"
"3.9601565E8","1581.0"
"1.55880664E8","1510.0"
"1.524473706E9","1425.0"
"4.49630896E8","1424.0"
"1.6084734E8","1384.0"
"3.96050224E8","1381.0"
"1.524431184E9","1341.0"
"4.4962647E8","1337.0"
"1.524546261E9","1335.3333333333333"
"1.524271801E9","1208.5"
"3.96090826E8","1199.0"

Traffic Dataset

In [5]:
# compare cvalue and confidence_score
result = athena.start_query_execution(
    QueryString = 'SELECT cvalue, confidence_score FROM "traffic" LIMIT 10;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [9]:
show_result(query_execution_id)

"cvalue","confidence_score"
"98.50","28.0"
"98.40","30.0"
"100.00","24.0"
"87.00","28.0"
"91.00","30.0"
"74.20","30.0"
"80.80","30.0"
"95.80","30.0"
"100.00","28.0"
"100.00","30.0"

In [10]:
# compare congestion and extreme_congestion ==> they are about the same
result = athena.start_query_execution(
    QueryString = 'SELECT congestion, extreme_congestion FROM "traffic" ORDER BY congestion DESC LIMIT 10;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [12]:
show_result(query_execution_id)

"congestion","extreme_congestion"
"0.9852941176470589","0.9850746268656716"
"0.9852941176470589","0.9850746268656716"
"0.9852941176470589","0.9850746268656716"
"0.9852941176470589","0.9850746268656716"
"0.9852941176470589","0.9850746268656716"
"0.9852941176470589","0.9850746268656716"
"0.9852941176470589","0.9850746268656716"
"0.9852941176470589","0.9850746268656716"
"0.9852941176470589","0.9850746268656716"
"0.9852941176470589","0.9850746268656716"

In [71]:
# find average average speed and maximum speed for each hour in the day
result = athena.start_query_execution(
    QueryString = 'SELECT HOUR(FROM_UNIXTIME(measurement_tstamp)) as hour, AVG(average_speed) as average_speed, MAX(average_speed) as max_speed FROM "traffic" GROUP BY HOUR(FROM_UNIXTIME(measurement_tstamp)) ORDER BY average_speed DESC;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [72]:
show_result(query_execution_id)

"hour","average_speed","max_speed"
"1","30.51892356487792","86.0"
"15","30.512527998266624","85.0"
"11","30.50538957438995","85.0"
"21","30.503901032721522","90.0"
"7","30.50175851509121","89.0"
"18","30.50123019158998","89.0"
"5","30.500818720810503","84.0"
"4","30.500302145653876","86.0"
"8","30.494638992667415","90.0"
"17","30.487961413106945","86.0"
"14","30.487838279588225","86.0"
"6","30.487696903165244","86.0"
"19","30.48687385960042","84.0"
"2","30.47903100868052","85.0"
"16","30.478349281023462","85.0"
"12","30.478316252741532","86.0"
"0","30.475192905112483","85.0"
"22","30.47506374005731","85.0"
"20","30.47293210746627","89.0"
"10","30.471015809215718","90.0"
"3","30.457108416319382","85.0"
"13","30.445512653089835","84.0"
"9","30.44447060102999","84.0"
"23","30.438331378216553","84.0"

In [73]:
# find average average speed for each day of the week
# NOTE: DAY_OF_WEEK() returns integers where 1 is Sunday and 7 is Saturday
result = athena.start_query_execution(
    QueryString = 'SELECT DAY_OF_WEEK(FROM_UNIXTIME(measurement_tstamp)) as day, AVG(average_speed) as average_speed FROM "traffic" GROUP BY DAY_OF_WEEK(FROM_UNIXTIME(measurement_tstamp)) ORDER BY average_speed DESC;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [74]:
show_result(query_execution_id)

"day","average_speed"
"6","30.586584677317788"
"2","30.5761577287966"
"5","30.52534108577454"
"3","30.517858587493468"
"7","30.416173252724466"
"1","30.40184914865291"
"4","30.360671231254752"

In [18]:
# find average average speed for each month of the year
result = athena.start_query_execution(
    QueryString = 'SELECT MONTH(FROM_UNIXTIME(measurement_tstamp)) as month, AVG(average_speed) as average_speed FROM "traffic" GROUP BY MONTH(FROM_UNIXTIME(measurement_tstamp)) ORDER BY average_speed DESC;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [20]:
show_result(query_execution_id)

"month","average_speed"
"9","30.486101308705035"
"6","30.48565036595593"
"11","30.485642349256892"
"4","30.484985922969948"
"12","30.483966163474797"
"3","30.48391586611781"
"10","30.483540097845506"
"5","30.483317337445182"
"1","30.481839914658057"
"8","30.48152672112755"
"2","30.481064382535894"
"7","30.480772195653792"

In [75]:
# find maximum and average congestion for each hour in the day
result = athena.start_query_execution(
    QueryString = 'SELECT HOUR(FROM_UNIXTIME(measurement_tstamp)) as hour, MAX(congestion) as max_congestion, AVG(congestion) as avg_congestion FROM "traffic" GROUP BY HOUR(FROM_UNIXTIME(measurement_tstamp)) ORDER BY max_congestion DESC;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [77]:
show_result(query_execution_id)

"hour","max_congestion","avg_congestion"
"22","0.9852941176470589","0.07918680330052999"
"18","0.9852941176470589","0.07952721850122209"
"11","0.9852941176470589","0.07858390787411186"
"8","0.9852941176470589","0.07992728667816898"
"2","0.9852941176470589","0.07907308416323296"
"7","0.9852941176470589","0.07869479025286494"
"20","0.9852941176470589","0.07934442252028695"
"6","0.9852941176470589","0.07968884493305355"
"21","0.9852941176470589","0.07880966743839739"
"15","0.9852941176470589","0.07973005677254762"
"23","0.9850746268656716","0.0794041945009889"
"3","0.9848484848484849","0.07811875305915313"
"16","0.9848484848484849","0.07931025520973589"
"13","0.9848484848484849","0.07888532022594778"
"17","0.9848484848484849","0.0790577282467017"
"10","0.9846153846153847","0.07921554018379492"
"0","0.9846153846153847","0.07907541535753652"
"19","0.984375","0.08067453702090181"
"9","0.984375","0.08014478450226889"
"4","0.9838709677419355","0.07936513886858629"
"5","0.9834328358208956","0.08033407013839802"
"12","0.9821212121212121","0.07915104221146872"
"14","0.9818181818181818","0.07887621026345382"
"1","0.9816666666666668","0.07952249335949765"

In [79]:
# find maximum and average congestion for each day of the week
result = athena.start_query_execution(
    QueryString = 'SELECT DAY_OF_WEEK(FROM_UNIXTIME(measurement_tstamp)) as day, MAX(congestion) as max_congestion, AVG(congestion) as avg_congestion FROM "traffic" GROUP BY DAY_OF_WEEK(FROM_UNIXTIME(measurement_tstamp)) ORDER BY max_congestion DESC;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [80]:
show_result(query_execution_id)

"day","max_congestion","avg_congestion"
"5","0.9852941176470589","0.07858326576172545"
"6","0.9852941176470589","0.07717676607054295"
"3","0.9852941176470589","0.07872959576321482"
"2","0.9852941176470589","0.07742494277044017"
"1","0.9852941176470589","0.0808950817822486"
"4","0.9848484848484849","0.08176476209432985"
"7","0.9848484848484849","0.08065043032678088"

In [85]:
# find congestion for each month of the year
result = athena.start_query_execution(
    QueryString = 'SELECT MONTH(FROM_UNIXTIME(measurement_tstamp)) as month, MAX(congestion) as max_congestion, AVG(congestion) as avg_congestion FROM "traffic" GROUP BY MONTH(FROM_UNIXTIME(measurement_tstamp)) ORDER BY max_congestion DESC;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [86]:
show_result(query_execution_id)

"month","max_congestion","avg_congestion"
"7","0.9852941176470589","0.07938078564550738"
"1","0.9852941176470589","0.0793260101225102"
"2","0.9852941176470589","0.07936153774749237"
"3","0.9852941176470589","0.07926146852555135"
"10","0.9850746268656716","0.07930229332619647"
"6","0.9848484848484849","0.07928133832802464"
"11","0.9848484848484849","0.07929318938805552"
"9","0.9848484848484849","0.07927819126508794"
"4","0.9848484848484849","0.07931164086126481"
"8","0.9846153846153847","0.07938056943177366"
"12","0.9846153846153847","0.0793298915358256"
"5","0.984375","0.07930739401378055"

In [ ]:
# find average average speed for each level of congestion

In [87]:
# which road segments experience the most congestion (list top 20)
result = athena.start_query_execution(
    QueryString = 'SELECT xd_id, MAX(congestion) as max_congestion, AVG(congestion) as avg_congestion FROM "traffic" GROUP BY xd_id ORDER BY max_congestion DESC LIMIT 20;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [88]:
show_result(query_execution_id)

"xd_id","max_congestion","avg_congestion"
"1524491646","0.9852941176470589","0.016918991690936625"
"1524554178","0.9852941176470589","0.011684217457231342"
"1524321726","0.9852941176470589","0.011326839433913001"
"1524554221","0.9852941176470589","0.006704972636766078"
"1524491673","0.9852941176470589","0.015883097353565002"
"1524554156","0.9852941176470589","0.007959405161722125"
"1524491606","0.9852941176470589","0.013642578318631948"
"1524413865","0.9850746268656716","0.007791065844542907"
"1524554200","0.9850746268656716","0.006114765942535612"
"1524413965","0.9848484848484849","0.013753630258045955"
"1524364713","0.9848484848484849","0.04652920498780122"
"1524495706","0.9848484848484849","0.007972647776645993"
"1524571760","0.9848484848484849","0.010516415185776996"
"1524385915","0.9848484848484849","0.029023887194979614"
"1524476448","0.9848484848484849","0.009959986370582674"
"429359943","0.9848484848484849","0.02676660083907605"
"1524571689","0.9848484848484849","0.008841841542196659"
"1524536351","0.9848484848484849","0.01187878656101217"
"1524364779","0.9848484848484849","0.044562585634141935"
"1524496936","0.9846153846153847","0.00885946587107082"

In [23]:
# which road segments have the slowest speeds (list top 20)
# slowest speeds does not mean higher congestion since some roads are smaller than others
result = athena.start_query_execution(
    QueryString = 'SELECT xd_id, AVG(average_speed) as average_speed FROM "traffic" GROUP BY xd_id ORDER BY average_speed ASC LIMIT 20;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [24]:
show_result(query_execution_id)

"xd_id","average_speed"
"396050005","5.499502609308602"
"156081021","5.64436245397791"
"160163906","5.684556285962744"
"156591323","5.838898996893193"
"159985713","5.874870257723708"
"396069006","5.974019077187034"
"160587504","6.0069580624931564"
"396035246","6.036654054316826"
"1524583954","6.160524896638504"
"1524395723","6.160524896638504"
"1524454067","6.256593712449565"
"159847675","6.288998475327259"
"156210663","6.289008116178868"
"156491859","6.552162638066273"
"155879406","6.552168849723266"
"1524534547","6.557237010424322"
"1524305741","6.719037412978231"
"160795522","6.785584390324648"
"160063400","6.792584882067622"
"160682067","6.8350134620866925"

In [25]:
# which road segments have the highest speeds (list top 20)
result = athena.start_query_execution(
    QueryString = 'SELECT xd_id, AVG(average_speed) as average_speed FROM "traffic" GROUP BY xd_id ORDER BY average_speed DESC LIMIT 20;',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [26]:
show_result(query_execution_id)

"xd_id","average_speed"
"160197227","67.72665058950685"
"441416441","67.72305850622406"
"1524554178","67.33344836101848"
"1524554156","67.33344836101848"
"1524491673","67.10546547240797"
"1524491606","67.10541757559949"
"1524491626","67.10541757559949"
"449621899","67.10119192030949"
"449621900","67.1008143686075"
"1524413865","67.06188442995456"
"1524554221","67.05381835675112"
"1524321749","67.02771583643533"
"1524321726","67.0277119395878"
"1524321798","66.99757671554147"
"449621898","66.75985326716165"
"1524308556","66.72911235109198"
"1524308481","66.72077764956472"
"1524554200","66.66524721980208"
"1524554264","66.66467823987641"
"1524491646","66.56546018767524"