<a href="https://colab.research.google.com/github/JoshScherer/Emergency-Response/blob/alex-dev/incidents_jobs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Notebook to query Traffic, Weather, and Incidents datasets**
Instructions to run this notebook:

1.   Run the queries in Athena that create external tables for each of the datasets (they begin with CREATE EXTERNAL TABLE IF NOT EXISTS 'database'.'table')
2.   Run the queries in Athena that repair the Traffic and Weather datasets (MSCK REPAIR TABLE table)
3.   Now the queries in this notebook can be run. Note: the data parquet files are stored in an S3 bucket cs4266-finalproject and the results are dumped to another S3 bucket cs4266-finalproject-results

In [1]:
#install boto
!pip install boto3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.26.121-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 5.7 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 kB 9.4 MB/s eta 0:00:00
Collecting botocore<1.30.0,>=1.29.121
  Downloading botocore-1.29.121-py3-none-any.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 77.4 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.30.0,>=1.29.121->boto3) (1.26.15)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.30.0,>=1.29.121->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.121->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.121 botocore-1.29.121 jmespath-1.0.1 s3transfer-0.6.0

In [77]:
# Please fill your aws credential information here
credentials = {
    'region_name': 'us-east-1',
    'aws_access_key_id': 'ASIAYELUFHJMWSAOXHEK',
    'aws_secret_access_key': 'cA8yiv4bl4Sxt/4NQLAsP2GNgBDcmtQsPgN9tU1Q',
    'aws_session_token': 'FwoGZXIvYXdzEFYaDHtyH8iq1BGWTS4nxSLMAYE6l6vNmEnf9FjY7EdgYLvv+VTtb8l/waZ78AGY6rOBE2rpDNkwNXIUIU8Q6sPxewfsziLC1/IyNc7VNVO3XhcZ3dOs+RZ6HFi7hqKbQmFZKEuYbb2yqOjoTMFXLJpgkiL6ftgY3CWapNIUI/Uze/NsZaOS80lMqnP0NqifACi/3YXVHPD6kQfX6hosPJ58DnMSyAJqQcrKjrGlUROeCr+5c2e8/10RnQH9pa1YNwwwT4B+8fVe83EiW/VvFOww3RpkQZCpbeI8wgqKqSjGt6uiBjIt90vbxk9Cov2w6zkwFWoSeVINs1bZh2D0jcJLOVfsqOcSfRwhCMBJxopc/0ez'
}

In [78]:
import boto3, json

session = boto3.session.Session(**credentials)
athena = session.client('athena', region_name='us-east-1')
s3 = session.client('s3')

In [72]:
# sample query of the incidents dataset
result = athena.start_query_execution(
    QueryString = 'SELECT * FROM "incidents" WHERE latitude is not NULL LIMIT 5;',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [73]:
# Replace the query execution id with the query id obtained while starting the query
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)

{'QueryExecution': {'QueryExecutionId': '6ad4e6e3-ad14-4be8-b549-88c08ff10350',
  'Query': 'SELECT * FROM "incidents" WHERE latitude is not NULL LIMIT 5',
  'StatementType': 'DML',
  'ResultConfiguration': {'OutputLocation': 's3://cs4266-finalproject-results/6ad4e6e3-ad14-4be8-b549-88c08ff10350.csv'},
  'ResultReuseConfiguration': {'ResultReuseByAgeConfiguration': {'Enabled': False}},
  'QueryExecutionContext': {'Database': 'incidents-db'},
  'Status': {'State': 'SUCCEEDED',
   'SubmissionDateTime': datetime.datetime(2023, 4, 27, 19, 21, 10, 95000, tzinfo=tzlocal()),
   'CompletionDateTime': datetime.datetime(2023, 4, 27, 19, 21, 11, 300000, tzinfo=tzlocal())},
  'Statistics': {'EngineExecutionTimeInMillis': 996,
   'DataScannedInBytes': 2129558,
   'TotalExecutionTimeInMillis': 1205,
   'QueryQueueTimeInMillis': 192,
   'QueryPlanningTimeInMillis': 118,
   'ServiceProcessingTimeInMillis': 17,
   'ResultReuseInformation': {'ReusedPreviousResult': False}},
  'WorkGroup': 'primary',
  'EngineVersion': {'SelectedEngineVersion': 'AUTO',
   'EffectiveEngineVersion': 'Athena engine version 2'},
  'SubstatementType': 'SELECT'},
 'ResponseMetadata': {'RequestId': 'c781861b-12c5-4da3-8561-f64fa576d9df',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 27 Apr 2023 19:21:13 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '1701',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'c781861b-12c5-4da3-8561-f64fa576d9df'},
  'RetryAttempts': 0}}

In [74]:
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"id_original","latitude","longitude","emdcardnumber","time_utc","time_local","response_time_sec","day_of_week","weekend_or_not","geometry","incident_id","dist_to_seg","xdsegid"
"ObjectId(59d3a81908f47311c891f8e2)","36.03722849","-86.78324314","29B5","1483257569507","1483235969507","268.0","6","1","POINT (-86.78324314 36.03722849)","10","13.550370382347305","1.524393684E9"
"ObjectId(59d3a81908f47311c891f8e6)","36.03741402","-86.78657189","29D2P","1483259455000","1483237855000","512.0","6","1","POINT (-86.78657189 36.03741402)","11","3.6639521286614225","1.524356434E9"
"ObjectId(59d3a81a08f47311c891f8ef)","36.21766267","-86.80869908","29D1H","1483263310000","1483241710000","271.0","6","1","POINT (-86.80869908 36.21766267)","12",,
"ObjectId(59d3a81a08f47311c891f8f9)","36.05779026","-86.73972836","29D8V","1483266571867","1483244971867","366.0","6","1","POINT (-86.73972836 36.05779026)","13",,
"ObjectId(59d3a81a08f47311c891f904)","36.03922079","-86.60278517","29A2V","1483268953000","1483247353000","447.0","6","1","POINT (-86.60278517 36.03922079)","14","3.171781614079594","4.49620819E8"

In [58]:
# another example query
# (latitude, longitude)
result = athena.start_query_execution(
    QueryString = 'SELECT AVG(latitude), AVG(longitude) FROM "incidents";',
    QueryExecutionContext = {
        'Database': 'incidents-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [59]:
# make sure to replace QueryExecutionId
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"_col0","_col1"
"36.151854061679494","-86.74292086389275"

In [22]:
result = athena.start_query_execution(
    QueryString = 'SELECT count(*) FROM "weather";',
    QueryExecutionContext = {
        'Database': 'weather-db'
    }
)
query_execution_id = result['QueryExecutionId']

{'QueryExecutionId': '49636196-af9a-47d5-bbf9-9e83c4409a86',
 'ResponseMetadata': {'RequestId': '1edfd59a-ebfc-48c7-ac1e-b7e053e59d00',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 27 Apr 2023 18:17:40 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '1edfd59a-ebfc-48c7-ac1e-b7e053e59d00'},
  'RetryAttempts': 0}}

In [24]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"_col0"
"0"

In [34]:
# debugging why weather table is empty
result = athena.start_query_execution(
    QueryString = 'SHOW PARTITIONS weather;',
    QueryExecutionContext = {
        'Database': 'weather-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [35]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.txt', 'results.txt')
!cat results.txt

month=2/year=2012
month=6/year=2018
month=4/year=2016
month=8/year=2016
month=2/year=2016
month=1/year=2020
month=8/year=2011
month=1/year=2012
month=3/year=2015
month=9/year=2011
month=9/year=2016
month=11/year=2016
month=11/year=2017
month=4/year=2011
month=6/year=2012
month=9/year=2015
month=1/year=2018
month=7/year=2011
month=2/year=2010
month=5/year=2012
month=5/year=2015
month=11/year=2011
month=7/year=2018
month=10/year=2017
month=6/year=2010
month=1/year=2022
month=4/year=2019
month=3/year=2016
month=1/year=2019
month=10/year=2016
month=5/year=2019
month=7/year=2021
month=9/year=2012
month=1/year=2016
month=11/year=2014
month=8/year=2018
month=3/year=2017
month=6/year=2015
month=8/year=2012
month=10/year=2018
month=10/year=2019
month=12/year=2021
month=7/year=2010
month=5/year=2020
month=8/year=2017
month=8/year=2020
month=2/year=2019
month=6/year=2011
month=4/year=2017
month=5/year=2017
month=6/year=2019
month=7/year=2012
month=2/year=2020
month=10/year=2010
month=2/year=2011
month=11/year=2010
month=10/year=2012
month=11/year=2013
month=12/year=2019
month=10/year=2015
month=12/year=2016
month=12/year=2011
month=8/year=2013
month=4/year=2010
month=5/year=2013
month=6/year=2016
month=10/year=2020
month=5/year=2010
month=1/year=2014
month=2/year=2013
month=3/year=2010
month=8/year=2014
month=9/year=2017
month=12/year=2010
month=11/year=2012
month=3/year=2013
month=1/year=2015
month=7/year=2019
month=10/year=2021
month=2/year=2014
month=9/year=2020
month=1/year=2011
month=9/year=2013
month=11/year=2018
month=9/year=2014
month=9/year=2021
month=5/year=2021
month=4/year=2013
month=9/year=2019
month=3/year=2012
month=10/year=2013
month=11/year=2015
month=9/year=2010
month=12/year=2017
month=11/year=2020
month=4/year=2021
month=7/year=2016
month=1/year=2010
month=4/year=2018
month=10/year=2011
month=2/year=2017
month=4/year=2014
month=7/year=2015
month=4/year=2012
month=6/year=2020
month=7/year=2017
month=12/year=2018
month=4/year=2020
month=12/year=2014
month=2/year=2015
month=3/year=2020
month=6/year=2013
month=5/year=2018
month=6/year=2021
month=7/year=2020
month=6/year=2014
month=11/year=2021
month=3/year=2014
month=8/year=2021
month=1/year=2021
month=6/year=2017
month=8/year=2015
month=11/year=2019
month=12/year=2013
month=2/year=2022
month=3/year=2019
month=1/year=2013
month=5/year=2016
month=9/year=2018
month=2/year=2018
month=3/year=2021
month=12/year=2012
month=5/year=2011
month=7/year=2013
month=10/year=2014
month=3/year=2018
month=5/year=2014
month=2/year=2021
month=3/year=2011
month=8/year=2010
month=4/year=2015
month=1/year=2017
month=12/year=2020
month=7/year=2014
month=8/year=2019
month=12/year=2015

In [87]:
# example query of the traffic dataset
# make sure to repair table in Athena before running this cell
result = athena.start_query_execution(
    QueryString = 'SELECT count(*) FROM "traffic";',
    QueryExecutionContext = {
        'Database': 'traffic-db'
    }
)
query_execution_id = result['QueryExecutionId']

In [88]:
athena.get_query_execution(
    QueryExecutionId=query_execution_id
)
s3.download_file('cs4266-finalproject-results', query_execution_id+'.csv', 'results.csv')
!cat results.csv

"_col0"
"2949783075"